/* hover css */
.timeline-image h4:hover {
    color: #8c8988;
}
.btn-basic {
    background-color: #636363;
    color: #DBDBDB;
}

/* login modal */
.login-header, .h4, .loginClose {
    background-color: #fed136;
    color:#474747 !important;
    text-align: center;
    font-size: 30px;
    justify-content: space-between;
}

#login-footer {
    margin: auto;
}

/* like icon */
.likeBox {
    position: relative;
}
.likeBox img {
    width: 100%;
    height: auto;
}

/* like */
.likeBox #heart {
    position: absolute;
    top: 35px;
    right: -4px;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    color: #ffffff;
    font-size: 16px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}
.likeBox #heart:hover {
    color: #CD2737;
}

/* dislike */
.likeBox #dislike {
    position: absolute;
    top: 35px;
    right: -4px;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    color: #CD2737;
    font-size: 16px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}
.likeBox #dislike:hover {
    color: #ffffff;
}

/* edit_profile icon hover */
#edit_profile:hover {
    background-color: #D2D2D2AA;
}

.fa-plus-square:hover {
    color: #FEC810;
}

/* artwork의 타이틀 hover 효과 */
#artTitle:hover {
    color: #e84600;
}