/* hover css */
.timeline-image h4:hover {
    color: #8c8988;
}
.btn-basic {
    background-color: #636363;
    color: #DBDBDB;
}

/* login modal */
.login-header, .h4, .loginClose {
    background-color: #fed136;
    color:#474747 !important;
    text-align: center;
    font-size: 30px;
    justify-content: space-between;
}

#login-footer {
    margin: auto;
}


