<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>P-SEEK:: Ticket</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <% include ./head/headIndex.ejs %>
    <style>
        @media (min-width: 992px) {
            body {
                padding-top: 56px;
            }
        }
        body { padding-top: 54px; }
        .card { height: 100%; }
    </style>
</head>

<body id="page-top">
<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-dark fixed-top" id="mainNav" style="background-color: #212529;">
    <div class="container">
        <a class="navbar-brand js-scroll-trigger" href="/">P-Seek :: <small>artists' playground</small></a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            Menu
            <i class="fas fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav text-uppercase ml-auto">
                <span style="color: #DBDBDB; margin-top: 12px"><small><i>PLEASE  USE  SERVICE  AFTER  PURCHASING  TICKET.</i></small></span>&nbsp;&nbsp;&nbsp;&nbsp;
                <li class="nav-item" style="margin-top: 10px;">
                    <% if (isLogined) { %>
                        <i class="fas fa-user-circle" style="color: #fed136;"></i>&nbsp;<span id="user" style="color: #fed136;"><%= user %>&nbsp;&nbsp;<a class="btn btn-basic btn-sm" href="/myPage">MYPAGE</a></span></a>&nbsp;&nbsp;
                        <a class="btn btn-primary btn-sm" id="loginBtn" style="color: #474747" href="/logout">Sign Out</a>
                    <% } else { %>
                        &nbsp;&nbsp;<a class="btn btn-primary btn-sm" id="loginBtn" style="color: #474747" href="/login"> Sign In</a>
                    <% } %>
                </li>
            </ul>
        </div>
    </div>
</nav>

<!-- Page Content -->
<div class="container">
    <!-- Jumbotron Header -->
    <header class="jumbotron my-4">
        <h1 class="display-3">BUY TICKETS.</h1>
        <p class="lead">You can buy <b>P-SEEK:: Tickets.</b>We offer you 4-type tickets.<br>
            Art museum ticket is that you can use our museum service and real art museum with this ticket.
            Monthly ticket is that you can use all service that pseek offer only 30days.
            My artist ticket is that you should choose your artist, then you can see your artist's artwork.
            Download ticket is that you can use all pseek service and download artwork.
        </p>
        <a href="#" class="btn btn-danger btn-lg">Free trial PSEEK.</a>
    </header>

    <!-- Page Features -->
    <div class="row text-center">

        <div class="col-lg-3 col-md-6 mb-4">
            <div class="card">
                <img class="card-img-top" src="../img/tickets/1.jpg" alt="">
                <div class="card-body">
                    <h4 class="card-title">ART MUSEUM TICKET</h4>
                    <p class="card-text">
                        <div style="color:#C82333"><b>PRICE: 4900won</b></div>
                        <div style="color:#C82333"><b>TIME Available: 24hours</b></div><br>
                        <div>you can use pseek museum service and choose 'real' art museum exhibition optioned.</div>
                    </p>
                </div>
                <div class="card-footer">
                    <a href="#" class="btn btn-primary">Find Out More!</a>
                </div>
            </div>
        </div>

        <div class="col-lg-3 col-md-6 mb-4">
            <div class="card">
                <img class="card-img-top" src="../img/tickets/2.jpg" alt="">
                <div class="card-body">
                    <h4 class="card-title">MONTHLY TICKET</h4>
                    <p class="card-text">
                        <div style="color:#C82333"><b>PRICE: 7900won</b></div>
                        <div style="color:#C82333"><b>TIME Available: 30days</b></div><br>
                        <div>you can use all service that pseek offer only 30days. If you want, ticket is paid for automatically.</div>
                    </p>
                </div>
                <div class="card-footer">
                    <a href="#" class="btn btn-primary">Find Out More!</a>
                </div>
            </div>
        </div>

        <div class="col-lg-3 col-md-6 mb-4">
            <div class="card">
                <img class="card-img-top" src="../img/tickets/3.jpg" alt="">
                <div class="card-body">
                    <h4 class="card-title">MY ARTIST TICKET</h4>
                    <p class="card-text">
                        <div style="color:#C82333"><b>PRICE: 900won [per artist]</b></div>
                        <div style="color:#C82333"><b>TIME Available: 30days</b></div><br>
                        <div>you should choose artist that you want to see his/her artwork. you can only see your artist's artwork.</div>
                    </p>
                </div>
                <div class="card-footer">
                    <a href="#" class="btn btn-primary">Find Out More!</a>
                </div>
            </div>
        </div>

        <div class="col-lg-3 col-md-6 mb-4">
            <div class="card">
                <img class="card-img-top" src="../img/tickets/4.jpg" alt="">
                <div class="card-body">
                    <h4 class="card-title">FREE PASS TICKET</h4>
                    <p class="card-text">
                        <div style="color:#C82333"><b>PRICE: 9900won</b></div>
                        <div style="color:#C82333"><b>TIME Available: 30days.</b></div><br>
                        <div>you can use all pseek service and download artwork. If you want, ticket is paid for automatically.</div>
                    </p>
                </div>
                <div class="card-footer">
                    <a href="#" class="btn btn-primary">Find Out More!</a>
                </div>
            </div>
        </div>

    </div>
    <!-- /.row -->

</div>

<!-- Footer -->
<footer class="py-5 bg-dark">
    <div class="container">
        <p class="m-0 text-center text-white">Copyright &copy; P-SEEK.com 2019</p>
    </div>
</footer>

<% include ./head/footerIndex.ejs %>
</body>
</html>
